.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
    
    /* fixed length */
    width: 800px;
    /* hug content */
    /* display: inline-block; */
    /* fill container */
    /* width: auto; */
}
.nav-right{
    display: flex;
    flex-direction: row;
    gap: 16px;
    display: inline-block;
}
.CTA{
    cursor: pointer;
}
.nav>.nav-right>.CTA{
    /* cursor: pointer; */
    display: flex;
    padding: 2px 8px;
    border-radius: 8px;
    display: inline-block;
    background: #d4d4d4a8;
    text-decoration: underline;
    border: 2px solid #01771ad5;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 16px;
    width: 800px;
    border: 2px dashed rgba(164, 164, 164, 0.313);
    border-radius: 8px;
}
.videoPage{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.videoCourse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.videoMenu{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* width: 100%; */
    border: 4px solid #8989897c;
    border-radius: 8px;
}
.videoMenuSelector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    gap: 16px;
    padding: 8px;
    background-color: #E8F6F5;
}
.courseBtn{
        cursor: pointer;
        display: flex;
        padding: 2px 8px;
        border-radius: 8px;
        display: inline-block;
        background: #FFFFFF;
        text-decoration: underline;
        border: 2px solid #ef8216;
}
.separateLine{
    height: 1px;
    width: 100%;
    background:#b5b5b59b;
}
.videoMenuContent{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 300px;
    padding: 8px;
    overflow: scroll;
    gap: 2px;
}
.videoCard{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 8px 0px;
    height: 72px;
    flex-grow: 1;
    /* width: 100%; */
    transition: all 0.5s ease;
    padding-right: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.videoCover{
    width: 88px;
    height: 56px;
    
}
img {
    max-width: 100%;
    max-height: 100%;
}
.videoCardInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    flex-grow: 1;
    gap: 4px;
}
.videoPanel{
    display: flex;
    flex-direction: column;
    display: inline-block;
}
.videoWindow{
    /* width: 400px; */
    height: 300px;
    overflow-block: hidden;
    /* background: #ff0000; */
}
.video{
    /* width: 100%; */
    height: 100%;
}
.videoInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 480px;

}
.videoTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#body-01{
    /* Title / 01 - 16px B */
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #000000;
    text-align: center;
}
#body-02{
    /* Title / 01 - 16px B */
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 140%; */
    color: #000000;
}
#body-03{
    /* Title / 01 - 16px B */
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* line-height: 140%; */
    color: #6a6a6a;
}
#body-04{
    /* Title / 01 - 16px B */
    font-family: 'SF Pro Text';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 12px;
    line-height: 140%;
    color: #000000;
}
#body-05{
    /* Title / 01 - 16px B */
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #6a6a6a;
}
#Title-01{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    width: auto;
}